.container {
  width: 100%;
  height: 800px;
  justify-content: center;
  text-align: center;
  background-color: aliceblue;
}

.innerContainer {
  width: 50%;
  height: 60%;
  background-color: rgb(184, 192, 199);
  border: 1px gray;
  border-radius: 4px;
  margin: auto;
}
.main {
  width: 80%;
  height: 100%;
  justify-content: center;
  text-align: center;
  display: flex;
}
